<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <Property name="logFileName">springStudy</Property>
        <Property name="consoleLayout">%style{%C{1.}}{bright,yellow}: %msg%n%throwable</Property>
<!--        <Property name="fileLayout">%d [%t] %-5level %c(%M:%L) - %m%n</Property>-->
<!--        <Property name="fileLayout">%d - %m%n</Property>-->
        <Property name="fileLayout">%m - %d%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}" />
        </Console>
        <RollingFile name="file" fileName="logs/${logFileName}.log" filePattern="logs/${logFileName}.%d{yyyy-MM-dd-hh aa}.log">
            <PatternLayout pattern="${fileLayout}" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="6" /><!-- 시간별 로그 파일 생성-->
            </Policies>
            <DefaultRolloverStrategy max="3" fileIndex="min" /><!-- 롤링 파일 3개 까지 생성 -->
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- 스프링 프레임워크에서 찍는건 level을 debug로 설정 -->
        <logger name="org.springframework" level="debug" additivity="false" >
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </logger>
    </Loggers>
</Configuration>