<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/board.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
          crossorigin="anonymous"></script>
  <title>Trello</title>
  <style>
    .offcanvas {
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 1050;
      display: none;
      padding: 1rem;
      overflow-y: auto;
      background-color: rgba(236, 234, 238, 0.6);
    }

    .offcanvas.show {
      display: block;
    }

    /* 모달 배경 */
    .modalBoard {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 30%;
      height: 30%;
      background-color: rgba(0, 0, 0, 0.5);
      align-items: center;
      justify-content: center;
    }

    /* 모달 내용 */
    .modal-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    /* 모달 닫기 버튼 */
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    /* 모달 내용의 입력 폼 스타일링 */
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input[type="text"],
    textarea,
    input[type="color"],
    button[type="submit"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }

    button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
<!-- Trello Clone -->
<div class="app">
  <!-- Main Header -->
  <header class="app-header">
    <div class="left">
      <a href="/api/my-page"><div class="btn"><i class="fas fa-home"></i></div></a>
      <button class="btn" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <i class="fab fa-trello"></i> Boards
      </button>
      <div class="btn search">
        Search
        <i class="fas fa-search"></i>
      </div>
    </div>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
         id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Trello</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p>여기에 보드 리스트들 해놓고 누르면 화면이 아예 해당 보드로 바뀌도록</p>
      </div>
    </div>

    <div class="center">
      <div class="logo"><i class="fab fa-trello"></i> Trello</div>
    </div>
    <div class="right">
      <div class="btn" id="addBoardBtn"><i class="fas fa-plus"> create</i></div>
      <!-- 모달 창 -->
      <div id="myModal" class="modalBoard">
        <div class="modal-content">
          <span class="close">&times;</span>
          <form id="boardForm">
            <label for="boardAddTitle">보드 제목:</label>
            <input type="text" id="boardAddTitle" name="boardAddTitle">

            <label for="boardAddDescription">보드 설명:</label>
            <textarea id="boardAddDescription" name="boardAddDescription"></textarea>

            <label for="boardAddColor">보드 색상:</label>
            <input type="color" id="boardAddColor" name="boardAddColor">

            <button type="submit">보드 생성</button>
          </form>
        </div>
      </div>

      <div class="btn"><i class="fas fa-info-circle"></i></div>
      <div class="btn"><i class="far fa-bell"></i></div>
      <div class="btn"><i class="fas fa-cog"></i></div>
      <div class="btn" type="button" onclick="getBoardMembersPage()"><i class="fas fa-user-tie"></i></div>
    </div>
  </header>

  <!-- App Board -->
  <main class="app-board">
    <header class="board-header">
      <div class="left">
        <div class="title" id="boardTitle"></div>
        <div class="btn btn-member"><i class="fa-solid fa-user-group"></i></div>
        <div class="btn btn-edit-board" data-bs-toggle="modalBoard" data-bs-target="#editBoardModal"><i
            class="fa-solid fa-pen-to-square"></i></div>
        <!-- 모달 창 -->
        <div class="modalBoard" id="editBoardModal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <form id="editBoardForm">
              <label for="editBoardTitle">보드 제목:</label>
              <input type="text" id="editBoardTitle" name="editBoardTitle">

              <label for="editBoardDescription">보드 설명:</label>
              <textarea id="editBoardDescription" name="editBoardDescription"></textarea>

              <label for="editBoardColor">보드 색상:</label>
              <input type="color" id="editBoardColor" name="editBoardColor">

              <button type="submit">보드 수정</button>
            </form>
          </div>
        </div>

        <div class="btn btn-delete-board"><i class="fa-solid fa-trash"></i></div>
      </div>
      <div class="right">
        <div class="btn btn-text"><i class="fas fa-male"></i> Butler</div>
        <div class="btn btn-text"><i class="fas fa-ellipsis-h"></i> Menu</div>
      </div>
    </header>

    <!-- Board -->
    <section class="board-body">
      <div class="wrap-lists" id="wrap-col-list">
        <div class="board-col">
          <div class="list">
            <a class="btn-list" id="addListButton" href="#">+ Add another list</a>
            <div class="list-container" id="addListContainer" style="display: none;">
              <input type="text" id="newListTitle" placeholder="Enter list title">
              <div class="button-container">
                <button id="confirmAddList">Add list</button>
                <button id="cancelAddList">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- App Tint -->
  <div class="app-tint">
    <input type="color" id="app-color">
    <label for="app-color"><i class="fas fa-tint"></i></label>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/js/bootstrap.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', async function () {
    document.cookie.replace("jwt=", "Bearer ");
    try {
      const isBoardMemberExist = await isBoardExist(); // 비동기 함수 호출 및 완료 대기
      const memberCount = isBoardMemberExist.memberCount;
      const firstBoardId = isBoardMemberExist.firstMemberBoardId;
      if (memberCount != 0) {
        // 첫번째 보드 불러오기
        await fetchBoardDetails(firstBoardId);
        // 보드 리스트들도 불러오기
        await getBoardListInOffcanvas();

        selectedBoardId = firstBoardId;
      } else {
        await initPostOneBoard()
        .then(async () => {
          const newBoardMember = await isBoardExist();
          const newBoardId = newBoardMember.firstMemberBoardId;
          // 첫번째 보드 불러오기
          await fetchBoardDetails(newBoardId);
          // 보드 리스트들도 불러오기
          await getBoardListInOffcanvas();

          selectedBoardId = newBoardId;
        })
        .catch(error => {
          console.error('initOneBoardPost 실행 중 오류:', error);
        });
      }
    } catch (error) {
      console.error('isBoardExist 함수에서 문제가 있습니다. ', error);
    }

    const offcanvas = new bootstrap.Offcanvas(document.getElementById('offcanvasWithBothOptions'));
    const offcanvasTrigger = document.querySelector('[data-bs-toggle="offcanvas"]');

    offcanvasTrigger.addEventListener('click', function (event) {
      event.stopPropagation();
      offcanvas.show();
      $(".modal-backdrop").remove(); // 모달 백드롭을 제거합니다
      $(".modal").removeClass("show"); // 모든 모달의 'show' 클래스를 제거합니다
    });

    offcanvas._element.addEventListener('click', function (event) {
      event.stopPropagation(); // 팝업 내부 영역 클릭 시 이벤트 전파 중단
    });

    document.addEventListener('click', function () {
      offcanvas.hide();
    });
  });

  async function isBoardExist() {
    try {
      const req = await fetch('/api/board/getMembers', {
        credentials: 'same-origin',
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
      });

      if (req.ok) {
        const members = await req.json();
        const memberCount = members.length;

        if (memberCount > 0) {
          const firstMember = members[0];
          const firstMemberBoardId = firstMember.board_id;

          return {
            memberCount: memberCount,
            firstMemberBoardId: firstMemberBoardId
          };
        } else {
          return {
            memberCount: 0,
            firstMemberBoardId: null
          };
        }
      } else {
        console.error('Failed to fetch board members.');
        return {
          memberCount: 0,
          firstMemberBoardId: null
        };
      }
    } catch (error) {
      console.error('An error occurred:', error);
      return {
        memberCount: 0,
        firstMemberBoardId: null
      };
    }
  }

  async function initPostOneBoard() {

    var title = "Init Board";
    var description = "Init Description";
    var color = "#000000";

    var requestData = {
      // createBoardRequestDto에 필요한 데이터를 여기에 추가
      "title": title,
      "description": description,
      "color": color
    };

    try {
      const response = await $.ajax({
        type: "POST",
        url: "/api/board",
        contentType: "application/json",
        data: JSON.stringify(requestData),
        xhrFields: {
          withCredentials: true // 쿠키 포함
        }
      });

      $("#myModal").css("display", "none");
      $(".modal-backdrop").remove(); // 모달 백드롭을 제거합니다
      $(".modal").removeClass("show"); // 모든 모달의 'show' 클래스를 제거합니다

    } catch (error) {
      alert("오류: " + error.responseText);
    }
  }

  // 보드 리스트 받아오는 메서드
  async function getBoardListInOffcanvas() {
    try {
      const response = await fetch('/api/boards', {
        credentials: 'same-origin',
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
      });
      const data = await response.json();
      const username = extractUserIdFromJwtCookie(); // 현재 로그인한 사용자의 아이디 추출

      const userIdFromUsername = await fetch('/api/board/' + username, {
        credentials: 'same-origin',
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
      });

      const userIdFromUsernameData = await userIdFromUsername.json(); // JSON 데이터로 변환

      const offcanvasBody = document.querySelector('.offcanvas-body');
      offcanvasBody.innerHTML = ''; // 기존 내용을 비우고 다시 추가

      data.forEach(board => {
        const boardCol = document.createElement('div');
        boardCol.className = 'list';
        const boardButton = document.createElement('button');
        boardButton.className = 'btn btn-primary';
        boardButton.type = 'button';
        boardButton.dataset.boardId = board.id;
        boardButton.dataset.userId = board.user_id; // userId 추가
        boardButton.textContent = board.title;

        if (userIdFromUsernameData === board.user_id) {
          boardButton.textContent += ` (ADMIN)`;
        } else {
          boardButton.textContent += ` (MEMBER)`;
        }

        boardCol.appendChild(boardButton);
        offcanvasBody.appendChild(boardCol);
      });

      const boardButtons = document.querySelectorAll('.offcanvas-body button');
      boardButtons.forEach(button => {
        button.addEventListener('click', () => {
          const boardId = button.dataset.boardId;
          const userId = button.dataset.userId; // userId 사용
          selectedBoardId = button.dataset.boardId;
          fetchBoardDetails(boardId); // fetchBoardDetails에 userId도 전달
        });
      });

      return data; // 데이터 반환
    } catch (error) {
      console.error('Error fetching board list:', error);
      return []; // 에러 발생 시 빈 배열 반환
    }
  }

  // 보드 하나 받아오는 메서드
  async function fetchBoardDetails(boardId) {
    try {
      const boardDetails = await fetch(`/api/boards/${boardId}`, {
        credentials: 'same-origin',
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
      })
      .then(response => response.json())
      .then(data => {
        const boardTitle = document.getElementById('boardTitle');
        boardTitle.textContent = `${data.title}`;

        console.log("밖에 " + data.id);

        $(".btn-edit-board").off("click").click(async function () {
          console.log("클릭1");

          $("#editBoardModal").show();
          $("#editBoardModal").css("z-index", 102);

          modifyCurrentBoard(data.id);
        });

        $(".btn-delete-board").off("click").click(async function () {
          const currId = data.id;
          await deleteCurrentBoard(currId);
        });

        const color = data.color;
        root.style.setProperty('--app-col', color);

        const boardBody = document.querySelector('.board-body');
        boardBody.innerHTML = ''; // 기존 내용을 비우고 다시 추가

        const wrapLists = document.createElement('div');
        wrapLists.className = 'wrap-lists';

        data.columns.forEach(column => {
          const boardCol = document.createElement('div');
          boardCol.className = 'board-col';

          const list = document.createElement('div');
          list.className = 'list';
          list.id = column.id;

          const columnTitle = document.createElement('div');
          columnTitle.className = 'column-title';
          columnTitle.id = 'columnTitle';

          const listTitle = document.createElement('div');
          listTitle.style="font-size:large";
          listTitle.className = 'list-title';
          listTitle.contentEditable='true';
          listTitle.textContent = column.title;
          listTitle.addEventListener('keydown', function (evt) {
              if(evt.key === "Enter") {
                evt.preventDefault();
                const newColumnTitle = listTitle.textContent;
                enterCheck(newColumnTitle, column.id);
              }
          });
          columnTitle.appendChild(listTitle);

          const dropdownHTML = `
          <div class="btn-group">
            <button type="button" class="btn btn-parimary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" onclick="editColumn('${column.id}')">Edit</a></li>
              <li><a class="dropdown-item" href="#" onclick="deleteColumn('${column.id}')">Delete</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#moveColumnModal">Move</a></li>
            </ul>
          </div>
        `;

          const dropdownDiv = document.createRange().createContextualFragment(dropdownHTML);
          listTitle.after(dropdownDiv);
          columnTitle.appendChild(dropdownDiv);
          list.appendChild(columnTitle);

          column.cardList.forEach(card => {
            const cardDiv = document.createElement('div');
            cardDiv.className = 'card';
            cardDiv.textContent = card.title; // 카드의 제목을 표시
            cardDiv.id = card.id;
            cardDiv.addEventListener('click', () => {
              openModal(card.id, data.id); // 모달을 띄우는 함수 호출
            });
            list.appendChild(cardDiv);
          });

          const addCardLink = document.createElement('a');
          addCardLink.className = 'btn-list';
          addCardLink.href = '#';
          addCardLink.textContent = '+ Add another card';
          addCardLink.id = column.id;
          list.appendChild(addCardLink);
          addCardLink.addEventListener('click', () => addCard(column.id, data.id));

          boardCol.appendChild(list);
          wrapLists.appendChild(boardCol);
        });

        const boardCol2HTML = `
                          <div class="board-col">
                            <div class="list">
                              <a href="#" class="btn-list" id="addListButton" onclick="clickBtn()">+ Add another list</a>
                              <div class="list-container" id="addListContainer" style="display: none;">
                                <input type="text" id="newListTitle" placeholder="Enter list title">
                                <div class="button-container">
                                  <button id="confirmAddList">Add list</button>
                                  <button id="cancelAddList">Cancel</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          `;
        const boardCol2 = document.createRange().createContextualFragment(boardCol2HTML);
        wrapLists.appendChild(boardCol2);

        const boardSection = document.createElement('section');
        boardSection.className = 'board-body';
        boardSection.appendChild(wrapLists);
        boardBody.appendChild(boardSection);
      })
      .catch(error => console.error('Error fetching board details:', error));

      if (boardDetails && boardDetails.ok) {
        window.location.href = '/web';
      }
    } catch (error) {
      console.error('Error updating board details:', error);
    }
  }

  // 모달 버튼들 준비
  $(document).ready(function () {
    // 모달 열기 버튼 클릭 시
    $("#addBoardBtn").click(function () {
      $("#myModal").show();
      $("#myModal").css("z-index", 102);
      $(".modal-backdrop").remove(); // 모달 백드롭을 제거합니다
      $(".modal").removeClass("show"); // 모든 모달의 'show' 클래스를 제거합니다
    });

    // 보드 수정 모달 열기 버튼 클릭 시
    // $(".btn-edit-board").click(function () {
    //   $("#editBoardModal").css("display", "block");
    // });

    // 모달 닫기 버튼 클릭 시
    $(".close").click(function () {
      $("#myModal").css("display", "none");
      $(".modal-backdrop").remove(); // 모달 백드롭을 제거합니다
      $(".modal").removeClass("show"); // 모든 모달의 'show' 클래스를 제거합니다
    });

    // 모달 외부 클릭 시 닫기
    $(window).click(function (event) {
      if (event.target.id === "myModal") {
        $("#myModal").css("display", "none");
        $(".modal-backdrop").remove(); // 모달 백드롭을 제거합니다
        $(".modal").removeClass("show"); // 모든 모달의 'show' 클래스를 제거합니다
      }
    });

    // 수정 모달 닫기 버튼 클릭 시
    $(".close").click(function () {
      $("#editBoardModal").css("display", "none");
      $(".modal-backdrop").remove(); // 모달 백드롭을 제거합니다
      $(".modal").removeClass("show"); // 모든 모달의 'show' 클래스를 제거합니다
    });

    // 수정 모달 외부 클릭 시 닫기
    $(window).click(function (event) {
      if (event.target.id === "editBoardModal") {
        $("#editBoardModal").css("display", "none");
        $(".modal-backdrop").remove(); // 모달 백드롭을 제거합니다
        $(".modal").removeClass("show"); // 모든 모달의 'show' 클래스를 제거합니다
      }
    });
  });

  // 보드 생성 모달창 -> 보드 생성하는 로직
  $("#boardForm").submit(async function (event) {
    event.preventDefault(); // Prevent default form submission behavior

    // Get values from form inputs
    const title = $("#boardAddTitle").val();
    const description = $("#boardAddDescription").val();
    const color = $("#boardAddColor").val();

    // Create a request data object
    const requestData = {
      "title": title,
      "description": description,
      "color": color
    };

    try {
      const response = await $.ajax({
        type: "POST",
        url: "/api/board", // Replace with your API endpoint
        contentType: "application/json",
        data: JSON.stringify(requestData),
        xhrFields: {
          withCredentials: true // Include cookies
        }
      });

      // Close the modal after successful submission
      $("#myModal").css("display", "none");
      $(".modal-backdrop").remove(); // 모달 백드롭을 제거합니다
      $(".modal").removeClass("show"); // 모든 모달의 'show' 클래스를 제거합니다

      // Optionally, you can fetch and update the board list or perform other actions here
    } catch (error) {
      alert("Error: " + error.responseText);
    } finally {
      const newCreateBoardMember = await isBoardExist();
      const newCreateBoardId = newCreateBoardMember.firstMemberBoardId;
      // 첫번째 보드 불러오기
      await fetchBoardDetails(newCreateBoardId);
      // 보드 리스트들도 불러오기
      await getBoardListInOffcanvas();
    }
  });

  // 쿠키 현재 로그인한 유저 아이디 뽑기 (sub에 있음 -> 한글, 영어다 디코딩 되도록 -> 카카오 이슈)
  function extractUserIdFromJwtCookie() {
    // 현재 쿠키 문자열을 가져옵니다.
    const cookieString = document.cookie;

    // 쿠키가 비어있다면 null을 반환합니다.
    if (!cookieString) {
      return null;
    }

    // 쿠키 문자열을 세미콜론(;)으로 분리하여 각 쿠키 항목을 배열로 만듭니다.
    const cookieItems = cookieString.split(';');

    // "Authorization" 쿠키 값을 찾습니다.
    let authCookieValue = null;
    for (const item of cookieItems) {
      const trimmedItem = item.trim();
      if (trimmedItem.startsWith("Authorization=")) {
        authCookieValue = trimmedItem.substr("Authorization=".length);
        break;
      }
    }

    // "Authorization" 쿠키가 없으면 null을 반환합니다.
    if (!authCookieValue) {
      return null;
    }

    // 쿠키 값에서 "Bearer " 부분을 제거합니다.
    const jwtToken = authCookieValue.replace("Bearer ", "");

    try {
      // JWT 디코딩
      const [, payloadBase64] = jwtToken.split('.');
      const decodedPayload = decodeURIComponent(escape(atob(jwtToken.split('.')[1])));

      const payloadObj = JSON.parse(decodedPayload);

      if (payloadObj && payloadObj.sub) {
        return payloadObj.sub;
      } else {
        return null;
      }
    } catch (error) {
      console.error('JWT 디코딩 오류:', error);
      return null;
    }
  }

  // 앱 색깔 지정하는 부분 -> 근데 이게 없으면 수정이나 생성에서도 색깔 반영이 안됨
  const root = document.documentElement,
      colorIn = document.getElementById('app-color');

  // Color selection
  colorIn.addEventListener('input', function () {
    const color = this.value;
    root.style.setProperty('--app-col', color);
  });

  async function modifyCurrentBoard(currentBoardId) {
    console.log("클릭2");
    $("#editBoardModal").one("submit", async function (event) {
      event.preventDefault(); // Prevent default form submission behavior
      const editBoardTitle = $("#editBoardTitle").val();
      const editBoardDescription = $("#editBoardDescription").val();
      const editBoardColor = $("#editBoardColor").val();

      // 모달 폼 데이터를 백엔드로 전송
      try {
        console.log("클릭3");
        const response = await fetch(`/api/board/` + currentBoardId, {
          method: 'PUT',
          credentials: 'same-origin',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            title: editBoardTitle,
            description: editBoardDescription,
            color: editBoardColor
          })
        });

        if (response.ok) {
          // 백엔드로 데이터 전송 성공 시 UI 업데이트 등의 작업을 수행합니다.
          console.log('Board data sent successfully.');
          // 모달을 닫습니다.
          $("#editBoardModal").css("display", "none");
          $(".modal-backdrop").remove(); // 모달 백드롭을 제거합니다
          $(".modal").removeClass("show"); // 모든 모달의 'show' 클래스를 제거합니다
          // location.reload();
        } else {
          console.error('Failed to send board data.');
        }
      } catch (error) {
        console.error('Error sending board data:', error);
      } finally {
        console.log("클릭4");
        await fetchBoardDetails(currentBoardId);
        // 보드 리스트들도 불러오기
        await getBoardListInOffcanvas();
      }
    });
  }
  async function deleteCurrentBoard(currBoardId) {
    try {
      console.log("삭제 로직 안 : " + currBoardId);
      const response = await fetch(`/api/board/` + currBoardId, {
        method: 'DELETE',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json'
        }
      });

      if (response.ok) {
        // 백엔드로 데이터 전송 성공 시 UI 업데이트 등의 작업을 수행합니다.
        console.log('Board delete successfully.');
      } else {
        console.error('Failed to send board data.');
      }
    } catch (error) {
      console.error('Error sending board data:', error);
    } finally {
      window.location.href = '/web';
    }
  }

  function clickBtn() {
    $('#addListContainer').css('display', 'block');
    $(".modal-backdrop").remove(); // 모달 백드롭을 제거합니다
    $(".modal").removeClass("show"); // 모든 모달의 'show' 클래스를 제거합니다

    $('#cancelAddList').on('click', function () {
      $('#addListContainer').css('display', 'none');
      $(".modal-backdrop").remove(); // 모달 백드롭을 제거합니다
      $(".modal").removeClass("show"); // 모든 모달의 'show' 클래스를 제거합니다
    });

    $('#confirmAddList').on('click', function () {
      const newListTitle = $('#newListTitle').val(); // 새 리스트 제목을 가져옴

      createColumn(newListTitle) // Create the column and wait for its completion
      .then(response => {
        // Successfully created the column, fetch board details
        fetchBoardDetails(selectedBoardId);
      })
      .catch(error => {
        // Handle error if column creation fails
        console.error('Error creating column:', error);
      });
    });
  }

  async function createColumn(columnTitle) {
    // 백엔드로 AJAX 요청 보내기
    try {
      // 백엔드로 AJAX 요청 보내기
      const response = await $.ajax({
        url: `/api/board/${selectedBoardId}/column`,
        type: 'POST',
        data: JSON.stringify({title: columnTitle}),
        contentType: 'application/json'
      });

      // 백엔드로부터 성공 응답을 받았을 때 처리
      console.log('새로운 리스트가 생성되었습니다:', response);

      return response;
    } catch (error) {
      // 백엔드로부터 에러 응답을 받았을 때 처리
      console.error('새로운 리스트 생성 중 오류가 발생했습니다:', error);
      throw error;
    }
  }

  function saveCard(saveButton, columnId, boardId) {
    const cardElement = saveButton.closest('.card');
    const cardTitleInput = cardElement.querySelector('input');
    const cardTitle = cardTitleInput.value.trim(); // 입력된 텍스트 가져오기

    if (cardTitle !== '') {
      const cardText = document.createElement('p');
      cardText.textContent = cardTitle;

      fetch(`/api/column/${columnId}/card`, {
        credentials: 'same-origin',
        method: 'POST',
        body: JSON.stringify({title: cardTitle}), // 객체를 JSON 문자열로 변환
        headers: {
          'Content-Type': 'application/json'
        },
      })
      .then(response => {
        $(".modal").css("display", "none");
        $(".modal-backdrop").remove();
        $(".modal").removeClass("show");
        fetchBoardDetails(boardId);

        cardTitleInput.replaceWith(cardText); // 입력 필드 대신 텍스트 요소로 교체
        saveButton.remove(); // 버튼 삭제
      })
      .catch(error => {
        console.error('An error occurred:', error);
      });
    }
  }

  function addCard(columnId, boardId) {
    const column = document.querySelector(`.list[id="${columnId}"]`);

    const newCard = document.createElement('div');
    newCard.className = 'card';

    const cardTitleInput = document.createElement('input');
    cardTitleInput.type = 'text';
    cardTitleInput.placeholder = 'Enter card title';

    const saveButton = document.createElement('button');
    saveButton.textContent = 'Save';
    saveButton.style.backgroundColor = 'var(--app-col)';
    saveButton.style.color = 'white';
    saveButton.addEventListener('click', function () {
      saveCard(saveButton, columnId, boardId); // saveButton을 인자로 넘겨서 호출
    });

    newCard.appendChild(cardTitleInput);
    newCard.appendChild(saveButton);

    // "Add another card" 링크를 감싸는 div 요소 생성
    const addCardContainer = document.createElement('div');
    addCardContainer.className = 'add-card-container';

    // "Add another card" 링크를 div 요소 안으로 이동
    const addCardLink = column.querySelector('.btn-list');
    addCardContainer.appendChild(addCardLink);

    // 새로운 카드와 "Add another card" 링크를 순서대로 삽입
    column.appendChild(newCard);
    column.appendChild(addCardContainer);
  }

  function deleteCard(columnNo, cardNo, boardId) {
    fetch(`/api/column/${columnNo}/card/${cardNo}`, {
      credentials: 'same-origin',
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
    })
    .then(response => {
      $(".modal").css("display", "none");
      $(".modal-backdrop").remove();
      $(".modal").removeClass("show");
      fetchBoardDetails(boardId);
    })
    .catch(error => {
      console.error('An error occurred:', error);
    });
  }

  function changeCardPosition(cardNo, columnNo, boardId) {
    const positionInput = document.getElementById('positionInput' + cardNo); // 입력한 숫자를 가져옴
    const newPosition = parseInt(positionInput.value); // 입력한 숫자를 정수로 변환
    console.log(cardNo, columnNo, newPosition)
    fetch(`/api/column/${columnNo}/card/${cardNo}/change-position/${newPosition}`, {
      credentials: 'same-origin',
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json'
      },
    })
    .then(response => {
      if (response.status == 200) {
        alert("카드 이동 완료");
      } else {
        alert("숫자로 값을 변경 || 포지션 제한 초과");
      }
      $(".modal").css("display", "none");
      $(".modal-backdrop").remove();
      $(".modal").removeClass("show");
      fetchBoardDetails(boardId);
    })
    .catch(error => {
      alert(`An error occurred: ${error}`);
    });
  }

  function changeCardColumnPosition(cardNo, boardId) {
    const changeCardPositionInput = document.getElementById('changeCardPositionInput' + cardNo);
    const newCardPosition = parseInt(changeCardPositionInput.value);

    const changeColumnPositionInput = document.getElementById('changeColumnPositionInput' + cardNo);
    const newColumnPosition = parseInt(changeColumnPositionInput.value);

    fetch(
        `api/card/${cardNo}/board/${selectedBoardId}/change-column/${newColumnPosition}/change-position/${newCardPosition}`,
        {
          credentials: 'same-origin',
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json'
          },
        })
    .then(response => {
      if (response.status == 200) {
        alert("카드 컬럼 이동 완료");
      } else {
        alert("숫자로 값을 변경 || 포지션 위치 제한 초과 || 컬럼 번호 확인");
      }
      $(".modal").css("display", "none");
      $(".modal-backdrop").remove();
      $(".modal").removeClass("show");
      fetchBoardDetails(boardId);
    })
    .catch(error => {
      alert(`An error occurred: ${error}`);
    });
  }

  function openModal(cardId, boardId) {
    const modal = document.createElement('div');
    modal.className = 'modal';
    modal.tabIndex = cardId;
    let innerHtml = ``
    fetch(`/api/card/${cardId}`, {
      credentials: 'same-origin',
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      },
    })
    .then(response => response.json())
    .then(card => {
      innerHtml += `
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" data-card-id="${card.id}">${card.title}</h5>
           <button type="button" class="btn btn-primary edit-button-title" id="editTitle${card.id}" onclick="editTitleButton(${card.id}, ${boardId})">Edit</button>
  <button type="button" class="btn btn-primary save-button-title d-none" id="saveTitle${card.id}" onclick="saveTitleButton(${card.id}, ${boardId})">Save</button>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="item-container">
            <label for="cardColor">Card Color:</label>
            <div class="item-content">
              <select id="cardColor" disabled>
                <option value="white">White</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="yello">Yello</option>
                <option value="pink">Pink</option>
                <option value="purple">Purple</option>
              </select>
              <button type="button" class="btn btn-primary edit-button" id="editColor">Edit</button>
              <button type="button" class="btn btn-primary save-button d-none" id="saveColor">Save</button>
            </div>
          </div>

          <div class="item-container">
            <label for="dueDate">Deadline</label>
            <div class="item-content">
              <input type="datetime-local" id="dueDate" disabled>
              <button type="button" class="btn btn-primary edit-button" id="editDueDate">Edit</button>
              <button type="button" class="btn btn-primary save-button d-none" id="saveDueDate">Save</button>
            </div>
          </div>

          <div class="item-container">
            <label for="description">Description:</label>
            <div class="item-content">
              <textarea id="description" disabled>${card.description}</textarea>
              <button type="button" class="btn btn-primary edit-button" id="editDescription">Edit</button>
              <button type="button" class="btn btn-primary save-button d-none" id="saveDescription">Save</button>
            </div>
          </div>

          <div class="item-container">
            <label for="comment">Comment:</label>
            <div class="item-content">
              <input type="text" id="comment" placeholder="Enter your comment">
              <button type="button" class="btn btn-primary add-comment-button" id="addComment">Add Comment</button>
            </div>
          </div>

            <div class="item-container">
            <label for="commentList">Comments:</label>
            <div class="item-content" id="commentList">
              <!-- 댓글 목록이 여기에 표시될 것입니다. -->

  `;
      // 모달 댓글 목록 추가

      if (card.commentList.length > 0) {
        for (let comment of card.commentList) {
          innerHtml += `
          <div class="commentInfo${comment.id}">
      <p>${comment.content}</p>
      <div class="commentButtons">
        <button type="button" class="btn btn-sm btn-primary edit-comment-button" data-comment-id="${comment.id}">Edit</button>
        <button type="button" class="btn btn-sm btn-danger delete-comment-button" data-comment-id="${comment.id}">Delete</button>
      </div>
    </div>
         `
        }
      }

      // 모달 푸터 추가
      innerHtml += `
            </div>
          </div>
        </div>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="delete-card-Button" onclick="deleteCard(${card.columnNo}, ${card.id}, ${boardId})">Delete</button>
          <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton${card.id}" data-bs-toggle="dropdown" aria-expanded="false">
    card move
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton${card.id}">
    <li>
      <div class="dropdown-item">
        <p>변경 할 카드 포지션</p>
        <input type="text" id="positionInput${card.id}" placeholder="Enter text">
        <button class="btn btn-primary" onclick="changeCardPosition(${card.id},${card.columnNo}, ${boardId})">이동하기</button>
      </div>
    </li>
    <li>
      <div class="dropdown-item">
        <p>카드 이동 할 컬럼 번호</p>
        <input type="text" id="changeColumnPositionInput${card.id}" placeholder="도착지 컬럼의 번호">
        <input type="text" id="changeCardPositionInput${card.id}" placeholder="도착지 카드의 포지션">
        <button class="btn btn-primary" onclick="changeCardColumnPosition(${card.id}, ${boardId})">이동하기</button>
      </div>
    </li>
  </ul>
</div>
        </div>
      </div>
    </div>
       `
      modal.innerHTML += innerHtml;
      // 모달을 body에 추가
      document.body.appendChild(modal);

       if(card.isdeadline) {
         const titleEditButton = document.getElementById(`editTitle${card.id}`);
         const colorEditButton = document.getElementById('editColor');
         const dateEditButton = document.getElementById('editDueDate');
         const descEditButton = document.getElementById('editDescription');

         titleEditButton.style.display = 'none';
         colorEditButton.style.display = 'none';
         dateEditButton.style.display = 'none';
         descEditButton.style.display = 'none';
       }

       // 모달을 열기 위한 이벤트 리스너 추가
       modal.addEventListener('shown.bs.modal', () => {
         modal.classList.add('show');
       });

      modal.addEventListener('shown.bs.modal', () => {
        const colorSelect = modal.querySelector('#cardColor');
        if (card.color == null || card.color) {
          colorSelect.value = card.color;
        }

        // "deadline" 값이 datetime-local 입력란에 대입
        const deadlineInput = modal.querySelector('#dueDate');
        if (card.deadline) {
          deadlineInput.value = card.deadline;
        }
      });

      // 모달이 닫힐 때 제거
      modal.addEventListener('hidden.bs.modal', () => {
        document.body.removeChild(modal);
      });

      // 모달 열기
      const bootstrapModal = new bootstrap.Modal(modal);
      bootstrapModal.show();

      // Edit 버튼 클릭 시 처리
      const editButtons = modal.querySelectorAll('.edit-button');
      editButtons.forEach(editButton => {
        editButton.addEventListener('click', () => {
          const container = editButton.parentElement;
          const saveButton = container.querySelector('.save-button');
          saveButton.classList.remove('d-none');
          editButton.classList.add('d-none');
          const inputElement = container.querySelector('input, select, textarea'); // textarea 추가
          inputElement.removeAttribute('disabled');
          inputElement.removeAttribute('readonly'); // readonly 제거
        });
      });

      modal.addEventListener('click', event => {
        if (event.target.classList.contains('edit-comment-button')) {
          const commentId = event.target.getAttribute('data-comment-id');
          const commentElement = modal.querySelector(`.commentInfo${commentId}`);
          const commentTextElement = commentElement.querySelector('p');
          const editInput = document.createElement('input');
          editInput.type = 'text';
          editInput.value = commentTextElement.textContent;

          const saveButton = document.createElement('button');
          saveButton.type = 'button';
          saveButton.classList.add('btn', 'btn-sm', 'btn-primary', 'save-comment-button');
          saveButton.textContent = 'Save';
          saveButton.setAttribute('data-comment-id', commentId); // 여기서 추가

          commentTextElement.replaceWith(editInput);
          commentElement.querySelector('.commentButtons').appendChild(saveButton);

          event.target.style.display = 'none';
        } else if (event.target.classList.contains('delete-comment-button')) {
          const commentId = event.target.getAttribute('data-comment-id');
          const commentElement = modal.querySelector(`.commentInfo${commentId}`);

           fetch(`/api/comment/${commentId}`, {
             credentials: 'same-origin',
             method: 'DELETE',
             headers: {
               'Content-Type': 'application/json'
             },
           })
                   .then(response => {
                     if (response.status == 200) {
                       console.log('comment successfully');
                       // 여기서 다른 필요한 작업을 수행할 수 있습니다.
                     } else {
                       alert("자신이 작성한 댓글이 아닙니다");
                     }
                   })
                   .catch(error => {
                     console.error('An error occurred:', error);
                   });
           commentElement.remove();
         } else if (event.target.classList.contains('save-comment-button')) {
           const commentId = event.target.getAttribute('data-comment-id');
           const commentElement = event.target.closest(`.commentInfo${commentId}`);
           const editInput = commentElement.querySelector('input');
           const updatedComment = editInput.value.trim();
           if (updatedComment !== '') {
             fetch(`/api/comment/${commentId}`, {
               credentials: 'same-origin',
               method: 'PATCH',
               body: JSON.stringify({ content: updatedComment }), // 객체를 JSON 문자열로 변환
               headers: {
                 'Content-Type': 'application/json'
               },
             })
                     .then(response => {
                       if (response.status == 201) {
                         console.log('comment successfully');
                         // 여기서 다른 필요한 작업을 수행할 수 있습니다.
                       } else {
                         alert("자신이 작성한 댓글이 아닙니다");
                         location.reload();
                       }
                     })
                     .catch(error => {
                       console.error('An error occurred:', error);
                     });

            // 댓글 업데이트 후 UI 업데이트
            const commentTextElement = document.createElement('p');
            commentTextElement.textContent = updatedComment;

            editInput.replaceWith(commentTextElement);
            commentElement.querySelector('.edit-comment-button').style.display = 'inline-block';
            event.target.remove(); // 저장 버튼 제거
          }
        }
      });

       const addCommentButton = modal.querySelector('#addComment');
       const commentList = modal.querySelector('#commentList');
       addCommentButton.addEventListener('click', () => {
         const commentInput = modal.querySelector('#comment');
         const comment = commentInput.value.trim();
         if (comment !== '') {
           const commentElement = document.createElement('div');
           commentElement.className = 'comment';
           commentElement.textContent = comment;
           fetch(`/api/card/${cardId}/comment`, {
             credentials: 'same-origin',
             method: 'POST',
             body: JSON.stringify({ content: comment }), // 객체를 JSON 문자열로 변환
             headers: {
               'Content-Type': 'application/json'
             },
           })
                   .then(response => {
                     if (response.status == 201) {
                       console.log('comment successfully');
                     }
                   })
                   .catch(error => {
                     console.error('An error occurred:', error);
                   });
           commentList.appendChild(commentElement);
           commentInput.value = '';
         }
       });

      // Save 버튼 클릭 시 처리
      const saveButtons = modal.querySelectorAll('.save-button');
      saveButtons.forEach(saveButton => {
        saveButton.addEventListener('click', () => {
          const container = saveButton.parentElement;
          const editButton = container.querySelector('.edit-button');
          editButton.classList.remove('d-none');
          saveButton.classList.add('d-none');
          const inputElement = container.querySelector('input, select, textarea');
          inputElement.setAttribute('disabled', true);

           // 저장 로직 추가
           if (inputElement.id === 'cardColor') {
             const cardColor = inputElement.value;
             fetch(`/api/card/${cardId}/color`, {
               credentials: 'same-origin',
               method: 'PATCH',
               body: JSON.stringify({ color: cardColor }), // 객체를 JSON 문자열로 변환
               headers: {
                 'Content-Type': 'application/json'
               },
             })
                     .then(response => {
                       if (response.status == 200) {
                         console.log('Color updated successfully');
                         // 여기서 다른 필요한 작업을 수행할 수 있습니다.
                       }
                     })
                     .catch(error => {
                       console.error('An error occurred:', error);
                     });
           } else if (inputElement.id === 'dueDate') {
             const deadline = inputElement.value.replace('T', ' ');
             fetch(`/api/card/${cardId}/deadline`, {
               credentials: 'same-origin',
               method: 'PATCH',
               body: JSON.stringify({ deadline: deadline }), // 객체를 JSON 문자열로 변환
               headers: {
                 'Content-Type': 'application/json'
               },
             })
                     .then(response => {
                       if (response.status == 200) {
                         console.log('deadline updated successfully');
                         // 여기서 다른 필요한 작업을 수행할 수 있습니다.
                       }
                     })
                     .catch(error => {
                       console.error('An error occurred:', error);
                     });
           } else if (inputElement.id === 'description') {
             const description = inputElement.value;
             fetch(`/api/card/${cardId}/description`, {
               credentials: 'same-origin',
               method: 'PATCH',
               body: JSON.stringify({ description: description }), // 객체를 JSON 문자열로 변환
               headers: {
                 'Content-Type': 'application/json'
               },
             })
                     .then(response => {
                       if (response.status == 200) {
                         console.log('desc updated successfully');
                         // 여기서 다른 필요한 작업을 수행할 수 있습니다.
                       }
                     })
                     .catch(error => {
                       console.error('An error occurred:', error);
                     });
             console.log('Description:', description);
           }
         });
       });
     })
  }

  function moveCardWithinColumn(cardId) {
    // 카드를 컬럼 안에서 이동하는 로직 추가
    console.log(`Moving card ${cardId} within the column`);
  }

  function moveCardOutsideColumn(cardId) {
    // 카드를 컬럼 밖으로 이동하는 로직 추가
    console.log(`Moving card ${cardId} outside the column`);
  }

  function editTitleButton(cardId, boardId) {
    const modalTitle = document.querySelector(`[data-card-id="${cardId}"]`);
    const titleText = modalTitle.textContent;
    const titleInput = document.createElement('input');
    titleInput.type = 'text';
    titleInput.value = titleText;
    modalTitle.replaceWith(titleInput);

    const editButton = document.getElementById(`editTitle${cardId}`);
    const saveButton = document.getElementById(`saveTitle${cardId}`);
    editButton.classList.add('d-none');
    saveButton.classList.remove('d-none');
  }

  function saveTitleButton(cardId, boardId) {
    const modal = document.querySelector('.modal');
    const titleInput = modal.querySelector('input'); // 수정한 제목을 입력한 input 요소 선택
    const newTitle = titleInput.value;

    fetch(`/api/card/${cardId}/title`, {
      credentials: 'same-origin',
      method: 'PATCH',
      body: JSON.stringify({ title: newTitle }), // 객체를 JSON 문자열로 변환
      headers: {
        'Content-Type': 'application/json'
      },
    })
    .then(response => {
      titleInput.classList.add('d-none'); // 입력 창 숨기기

      const editButton = document.getElementById(`editTitle${cardId}`);
      const saveButton = document.getElementById(`saveTitle${cardId}`);
      saveButton.classList.add('d-none');
      editButton.classList.remove('d-none');

      fetchBoardDetails(boardId);
    })
    .catch(error => {
      console.error('An error occurred:', error);
    });
  }
  function getBoardMembersPage() {
    location.href = '/web/boardMember/' + selectedBoardId;
  }

  async function deleteColumn(columnid) {
    // 백엔드로 AJAX 요청 보내기
    try {
      // 백엔드로 AJAX 요청 보내기
      const response = await $.ajax({
        url: `/api/column/${columnid}`,
        type: 'DELETE',
        contentType: 'application/json'
      });

      // 백엔드로부터 성공 응답을 받았을 때 처리
      console.log('컬럼이 삭제 되었습니다:', response);
      fetchBoardDetails(selectedBoardId); // 다른 보드에서도 삭제후 바로 삭제 되는지 확인

      return response;
    } catch (error) {
      // 백엔드로부터 에러 응답을 받았을 때 처리
      console.error('새로운 리스트 생성 중 오류가 발생했습니다:', error);
      throw error;
    }
  }

  async function enterCheck(columnTitle,columnId) {
    // 백엔드로 AJAX 요청 보내기
    try {
      // 백엔드로 AJAX 요청 보내기
      const response = await $.ajax({
        url: `/api/column/${columnId}`,
        type: 'PUT',
        data: JSON.stringify({title: columnTitle}),
        contentType: 'application/json'
      });

      // 백엔드로부터 성공 응답을 받았을 때 처리
      console.log('컬럼이 수정 되었습니다:', response);
      fetchBoardDetails(selectedBoardId); // 다른 보드에서도 삭제후 바로 삭제 되는지 확인

      return response;
    } catch (error) {
      // 백엔드로부터 에러 응답을 받았을 때 처리
      console.error('새로운 리스트 생성 중 오류가 발생했습니다:', error);
      throw error;
    }
  }

  // 카드 움직이는 Js 코드
  // async function editColumn(columnid) {
  //   try {
  //     // 백엔드로 AJAX 요청 보내기
  //     const response = await $.ajax({
  //       url: `/api/column/${columnid}`,
  //       type: 'PUT',
  //       data: JSON.stringify({ title: columnTitle }),
  //       contentType: 'application/json'
  //     });
  //
  //     // 백엔드로부터 성공 응답을 받았을 때 처리
  //     console.log('새로운 리스트가 생성되었습니다:', response);
  //
  //     return response;
  //   } catch (error) {
  //     // 백엔드로부터 에러 응답을 받았을 때 처리
  //     console.error('새로운 리스트 생성 중 오류가 발생했습니다:', error);
  //     throw error;
  //   }
  // }
  //
  //     const lastColumnContainer = $('#wrap-col-list .board-col:first-child');
  //     if (lastColumnContainer.length > 0) {
  //       lastColumnContainer.after(newColumnContainer);
  //     } else {
  //       $('#wrap-col-list').append(newColumnContainer);
  //     }
  //
  //     addListContainer.css('display', 'none');
  //
  //     newColumnContainer.append(newListCol);
  //     newListCol.append(newList);
  //
  //     const addCardButton = newList.find('.btn-list');
  //
  //     addCardButton.on('click', function() {
  //       const newCard = $('<div>').addClass('card').text('New Card');
  //       newList.append(newCard);
  //     });
  //   });

  // document.addEventListener('DOMContentLoaded', () => {
  //   const wrapLists = document.getElementById('wrap-col-list');
  //   const sortableLists = new Sortable(wrapLists, {
  //     group: 'lists',    // 그룹을 지정하여 리스트끼리만 이동 가능하도록 설정
  //     handle: '.list-title', // 리스트 제목을 드래그 핸들로 사용
  //     animation: 150,    // 드래그 애니메이션 시간 (밀리초)
  //     onMove: (event) => {
  //       const toIndex = event.toIndex;
  //       const addListIndex = wrapLists.querySelectorAll('.board-col').length - 1; // Add another list 아이템의 인덱스
  //
  //       // 움직이려는 위치가 Add another list 아이템 뒤로 갈 경우 움직임을 제한
  //       if (toIndex >= addListIndex) {
  //         return false;
  //       }
  //     },
  //   });
  // });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>